<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#141322">
<title>Crowd1</title>
<script src="/cdn-cgi/apps/head/wQ4UqAPus8mxxHbaBOAqY6mM3JA.js"></script><link rel="stylesheet" href="https://static.crowd1.com/static/assets/css/bootstrap-reboot.min.css?v=1603443290">
<link rel="stylesheet" href="https://static.crowd1.com/static/assets/css/bootstrap-grid.css?v=1603443290">
<link rel="stylesheet" href="https://static.crowd1.com/static/assets/css/login-register.css?v=1603443290">
<link rel="stylesheet" href="https://static.crowd1.com/static/assets/css/pages/page_frequently-asked-questions.css?v=1603443290">

<script>
		(function(h,o,t,j,a,r){
		    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		    h._hjSettings={hjid:1743724,hjsv:6};
		    a=o.getElementsByTagName('head')[0];
		    r=o.createElement('script');r.async=1;
		    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		    a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
<script type="text/javascript" src="/v1/c/c.js?727567311123134"></script>
    <script type="text/javascript">_castle('setTrackerUrl','/v1/c')</script>
  </head>
<body>
<header class="log-reg-header">
<a href="/"><img src="https://static.crowd1.com/static/assets/images/logos/logo-crowd1.svg" width="221" height="29" alt="Crowd1" /></a>
</header>
<div class="notice-wrapper">
<div class="container">
</div>
</div>

@!section('content')

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://static.crowd1.com/static/assets/js/jquery.3.4.1.min.js"></script>


<script src="https://static.crowd1.com/static/assets/plugins/jquery-validation/jquery.validate.min.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/plugins/jquery-validation/additional-methods.min.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/plugins/taconite/jquery3.taconite.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/plugins/crowd1/notice.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/plugins/slick/slick.min.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/js/01.cookie-consent-util.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/js/02.1.cookie-consent-themes.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/js/02.2.cookie-consent-custom-css.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/js/02.3.cookie-consent-informational.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/js/02.4.cookie-consent-opt-out.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/js/02.5.cookie-consent-opt-in.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/js/02.6.cookie-consent-location.js?v=1603443290"></script>
<script src="https://static.crowd1.com/static/assets/plugins/crowd1/notice.js?v=1603443290"></script>
<script type="text/javascript" src="https://static.crowd1.com/static/assets/js/pages/page_frequently-asked-questions.js?v=1603443290"></script>
<script type="text/javascript">
		
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, gaTrack: true, gaId: 'UA-82255371-1'}, 'google_translate_element');
		}
	</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript" src="https://static.crowd1.com/static/assets/js/login-register.js?v=3"></script>

<script type="text/javascript">
	_atrk_opts = { atrk_acct:"Sc2Pu1rcy520uW", domain:"crowd1.com",dynamic: true};
	(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
	</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=Sc2Pu1rcy520uW" style="display:none" height="1" width="1" alt="" /></noscript>

</body>
</html>