@layout('layouts.app')

@section('content')
<div class="container mtg4x" style="padding-top: 25px;padding-bottom:80px;">
    <h2 class="highlight--plum-dark fs-h3-mobile">
    About us</h2>
    <article class="article">
    <p>Crowd1 is an established online networking and marketing company with intentions of giving members all over the world the unique opportunity to take part in the gig economy, quality education, international networking, and to contribute to achieving better digital equality in the world.
    </p>
    <p>Crowd1’s international network consists of millions of highly ambitious members with a love for entrepreneurship and sales that provides both employment and a source of income. Crowd1 has seen a remarkable growth of Affiliate members during the first 16 months of operation and are currently in talks with various large organisations for partnerships and collaborations.
    </p>
    <p>Crowd1 sell Educational Packages that include a generous voucher with videos and other forms of education services for the Affiliate’s own use or to re-sell. We supply Crowd1’s Affiliates with a library of products, apps, websites, and other services from our partners through the usage of crowd marketing.
    </p>
    <p>As one of the first digital multi-level marketing company, Crowd1 addresses the challenges of long-term sustainability. We have no doubt that crowd technology is sustainable and the future of marketing.
    </p>
    <p>Follow our extraordinary growth and stay up to date with Crowd1 on our Instagram, Facebook, YouTube, and Twitter.
    </p>
    <div>
    <a href="https://www.instagram.com/crowd_1/" target="_blank" class="btn">Instagram <img src="https://static.crowd1.com/static/assets/images/system/arr-right-full.svg" width="15" height="9" alt="arrow right" /></a></div>
    <div class="pt"><a href="https://www.facebook.com/Crowd1com" target="_blank" class="btn ">Facebook <img src="https://static.crowd1.com/static/assets/images/system/arr-right-full.svg" width="15" height="9" alt="arrow right" /></a></div>
    <div class="pt"><a href="https://www.youtube.com/crowd1official" target="_blank" class="btn mt">YouTube <img src="https://static.crowd1.com/static/assets/images/system/arr-right-full.svg" width="15" height="9" alt="arrow right" /></a></div>
    <div class="pt"><a href="https://twitter.com/Crowd1Official" target="_blank" class="btn mt">Twitter <img src="https://static.crowd1.com/static/assets/images/system/arr-right-full.svg" width="15" height="9" alt="arrow right" /></a></div>
    </article>
    </div>
    
    
@endsection